<div class="center hero-unit">
	<h1>No longer accepting applications.</h1>
	<p>The application period is now closed for the 2013-2014 school year.</p>
	<p>Please check with your guidance counselor in January 2014.</p>
</div>