<div class="center hero-unit">
	<h1>II. How to apply</h1>
	<br />
	<h2>The application will be completed online. <br />You will be able to download necessary forms once you have submitted your application.</h2>
	<div class="well well-large" style="text-align:left;">
	<p>
		Steps you need to follow:
		<ul>
			<li>Complete online application.</li>
			<li>Ask one math teacher, one science teacher, and one English teacher to complete recommendations for you using the 
				Faculty Recommendation forms and return to your guidance counselor</li>
			<li>Once these steps are complete, the packet will be forwarded to the school division's Selection Committee</li>
			<li>Attend your division's day of testing.</li>
		</ul>
	</p>
	</div>
	<%= link_to "Continue", instructions_path, class: "btn btn-small" %>
</div>