<div class="center hero-unit">
	<h1><%= image_tag("homelogo.png", alt: "PGSMST") %></h1>
	<h2>This will hopefully have more detailed information soon :)</h2>
	<h3>Click <%= link_to "here", mission_path %> to begin the application process.</h3>
</div>