<div class="center hero-unit">
	<p><%= image_tag("homelogo.png", alt: "PGSMST") %></p>
	<h1>Application for admission</h1>
  <br />
  <div class="well well-small center">
    <p class="text-warning">
      <em>Admission to the Piedmont Governor’s School is by application and acceptance.  All applicants are made aware of the curriculum offered as described in the Piedmont Governor’s School’s policies, literature, and correspondence. Students are not permitted to opt out of certain courses, since the courses in the two-year program are predetermined and sequential,  and must be completed by all students in the academy.</em>
    </p>
  </div>
	<h3><%= link_to "Begin Application Process", mission_path, class: "btn btn-large" %></h3>
</div>
