<div class="center hero-unit">
	<p><%= image_tag("homelogo.png", alt: "PGSMST") %></p>
	<h1>Application for admission</h1>
	<h3><%= link_to "Begin Application Process", mission_path, class: "btn btn-large" %></h3>
</div>