<div class="center hero-unit">
	<h1>III. Application Process</h1>
	<br />
	<h3>Note: Please read these instructions in full before continuing to the application.</h3>
	<div class="well well-large" style="text-align:left;">
		<p>
			Acceptance for enrollment in the Piedmont Governor's School for Mathematics, Science, and 
			Technology is based on the following criteria and procedures.
		</p>
		<p>
			<ul>
				<li>The student is enrolled in a public high school at the time of application.</li>
				<li>The student will have satisfactorily completed all math prerequisites by the end of the sophomore year of high school.</li>
					<ul>
						<li>Prerequisites for Juniors: Algebra I, Algebra II, and Geometry</li>
						<li>Prerequisites for Seniors: Algebra I, Algebra II, Geometry, Advanced Algebra/Trigonometry, 
							PreCalculus, and College Biology (to meet DCC requirements for Microbiology course)</li>
					</ul>
				<li>The Selection Committee at the local school division level will identify 
					and rank the applicants to be invited to attend the Governor's School based 
					on the criteria set by the Governing Board.</li>
				<li>Beginning the second year of operation, students who are eligible to participate in the full two-year 
					curriculum will be given preference in ranking.</li>
				<li>Admission to the Piedmont Governor's School is by application and all applicants are made aware 
					of the curriculum offered as described in the Governor's School policies, literature, and correspondence. 
					Students are not permitted to opt out of certain courses, since they are holding a slot that could be 
					filled by another student who wishes to take the entire program.</li>
				<li>An exit policy is in place for possible withdrawal of students from the program at the end of the junior year.</li>
				<li>Criteria reviewed by the Selection Committee for each applicant are:</li>
					<ul>
						<li>Metropolitan 8 Science Achievement Test;</li>
						<li>PSAT scores;</li>
						<li>Unweighted GPA for all high school core subjects receiving high school credit<br />
							(grade 8 - first semester grade 10);</li>
						<li>Timed writing sample;</li>
						<li>One math, one science, and one English faculty recommendation; and</li>
						<li>Score from the standardized Matrix Analogy Test (M.A.T.)</li>
					</ul>
			</ul>
		</p>
		<p>
			Students invited to attend the Governor's School and alternates for each school division's slots are 
			chosen by the school division's Selection Committee based on the above criteria. No review of the 
			Selection Committee's assessment of students is done by the Director or the faculty of the Piedmont 
			Governor's School.
		</p>
	</div>
	<%= link_to "Begin Application", new_applicant_path, class: "btn btn-small btn-primary" %>
</div>