<div class="center hero-unit">
	<h1>I. Mission Statement</h1><br />
	<h3>Piedmont Governor's School <br /> for <br /> Mathematics, Science, and Technology</h3>
	<br />
	<div class="well well-large" style="text-align:left;">
		<p>
			The Piedmont Governor's School for Mathematics, Science, and Technology is dedicated 
			to creating a community of learners who through a unique physical, intellectual, and 
			social environment will explore the interconnectedness among science, math, and technology
			through real world applications in order to develop the necessary skills to impact society 
			in a positive manner.
		</p>
		<p>
			The mission of the Piedmont Governor’s School for Mathematics, Science, and Technology is 
			to provide a challenging, project-driven, research-based curriculum in a technology-infused 
			environment. The school is designed for academically gifted, highly motivated, and high 
			achieving eleventh (11th) and twelfth (12th) grade students from Danville City, Henry County, 
			Martinsville City, and Pittsylvania County school divisions.
		</p>
		<p>
			The goals of the Piedmont Governor's School are:
			<ul>
				<li>To provide qualified participants with educational experiences that promote interest in and 
					develop skills related to mathematics, science, and technology through research-based projects;</li>
				<li>To provide hands-on, project-based interdisciplinary learning challenges in a laboratory 
					setting that will develop students’ critical thinking, problem-solving, teamwork and presentation skills;</li>
				<li>To provide an environment that fosters a broad exchange of ideas that promotes social, ethical, 
					and personal growth through interaction among students with diverse educational and cultural backgrounds;</li>
				<li>To offer a well-defined curriculum that facilitates the transition from high school to college;</li>
				<li>To promote the applicability of mathematics, science, and technology to the real world environment;</li>
				<li>To empower staff, students, and parents to be actively involved in a collaborative interdisciplinary process;</li>
				<li>To serve as a resource for schools and communities.</li>
			</ul>
		</p>
	</div>
	<%= link_to "Continue", how_path, class: "btn btn-small" %>
</div>