<div class="center hero-unit">
	<p>
		Thank you for your interest in the <%= link_to "Piedmont Governor's School", "http://www.pgsmst.com" %>.
	</p>
	<p>
		Your application has now been submitted. Please check with your school's counselor or designee for status updates on your application.
	</p>
</div>