<div class="center hero-unit">
	<h1>Thank you for signing out.</h1>
	<p>
		You may <%= link_to "sign back in", new_user_session_path %> at any time, or <%= link_to "start from the beginning", root_path %>.
	</p>
</div>