<div class="center hero-unit">
	<h1>School Contact Information</h1>
	<table class="table table-bordered table-hover" style="font-size:20pt;">
		<tr>
			<th>School</th>
			<th>Contact</th>
		</tr>
		<tr>
			<td>Bassett High School</td>
			<td><a href="mailto:syralux@henry.k12.va.us">Shekila Yralux</a></td>
		</tr>
		<tr>
			<td>Chatham High School</td>
			<td><a href="mailto:lauren.horne@pcs.k12.va.us">Lauren Horne</a></td>
		</tr>
		<tr>
			<td>Dan River High School</td>
			<td><a href="mailto:tiana.noble@pcs.k12.va.us">Tiana Noble</a></td>
		</tr>
		<tr>
			<td>Galileo High School</td>
			<td><a href="mailto:dave.cochran@mail.dps.k12.va.us">Dave Cochran</a></td>
		</tr>
		<tr>
			<td>George Washington High School</td>
			<td><a href="mailto:dave.cochran@mail.dps.k12.va.us">Dave Cochran</a></td>
		</tr>
		<tr>
			<td>Gretna High School</td>
			<td><a href="mailto:jennifer.dowdy@pcs.k12.va.us">Jennifer Dowdy</a></td>
		</tr>
		<tr>
			<td>Magna Vista High School</td>
			<td><a href="mailto:kcecil@henry.k12.va.us">Karen Cecil</a></td>
		</tr>
		<tr>
			<td>Martinsville High School</td>
			<td><a href="mailto:astultz@martinsville.k12.va.us">Anne Stultz</a></td>
		</tr>
		<tr>
			<td>Tunstall High School</td>
			<td><a href="tammy.beckelheimer@pcs.k12.va.us">Tammy Beckelheimer</a></td>
		</tr>
	</table>
</div>