<p>Hello <%= @resource.email %>!</p>


<p>
	<span style="font-weight:600;">If you are not a current user of the Piedmont Governor's School Online Application System,</span> 
	an account has been created for you. You can follow the link below to set your password to a password of your choice. 
</p>

<p>Welcome to the Piedmont Governor's School Online Application System.</p>

<p><%= link_to 'Set my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>You will not be able to sign in until you access the link above and set your password.</p>

<br /><br />
<p>
	<span style="font-weight:600;">If you are a current user,</span> a password reset request has been made on your behalf. 
	A link to change your password has been provided below.
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Your password won't change until you access the link above and create a new one.</p>
