<li>
	<%= link_to applicant, coordinator_applicant_path(applicant) %>
	- <%= applicant.school.name %>
</li>
<li class="evenrow">
	<%= link_to "Edit Information", edit_coordinator_applicant_path(applicant) %> 
</li>
