<li class="evenrow">
	<% if applicant.gpa.present? %>
		<%= link_to applicant, coordinator_applicant_path(applicant) %>
	<% else %>
		<%= link_to applicant, edit_coordinator_applicant_path(applicant) %> 
	<% end %>	
	- <%= applicant.school.name %>		
</li>
