<% provide(:title, 'All Applicants') %>
<h1>All Applicants</h1>

<%= will_paginate %>

<ul class="applicants">
	<% if @applicants.present? %>
		<% @applicants.each do |a| %>
			<%= render a %>
		<% end %>
	<% else %>
		<h2>
			There are currently no applicants.<br />
			You will be notified by email when the first application is submitted.
		</h2>
	<% end %>
</ul>