<footer class="footer">
	<table class="noprint noborder full-width">
		<tr class="noborder">
			<td class="noborder">
				Piedmont Governor's School
			</td>
			<td class="noborder text-center">
				10 E. Church St. 4th Floor Martinsville, VA 24112
			</td>
			<td class="noborder pull-right">
				<a href="mailto:jmabry@newcollegeinstitute.org">Problems or requests?</a>
			</td>
		</tr>
	</table>
</footer>